{% block content %}
    <h2>Oyuncu İşlemleri Kontrol Paneli</h2>
    <p>Lütfen yapmak istediğiniz işlemi seçin:</p>
    
    <ul>
        <li>
            <a href="/players/table">Tüm Oyuncuları Listele (Tablo)</a>
        </li>
        <li>
            <a href="#" style="color: grey; text-decoration: none;">Oyuncu Ekle (Yakında)</a>
        </li>
        <li>
            <a href="#" style="color: grey; text-decoration: none;">Oyuncu Çıkart (Yakında)</a>
        </li>
        <li>
            <a href="#" style="color: grey; text-decoration: none;">Oyuncu Ara (Yakında)</a>
        </li>
    </ul>
{% endblock %}