<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
  <thead>
    <tr>
      <th>League</th><th>Rank</th><th>Team</th><th>Points</th>
    </tr>
  </thead>
  <tbody>
  {% for row in standings %}
    <tr>
      <td>{{ row.league }}</td>
      <td>{{ row.team_rank }}</td>
      <td>{{ row.team_name }}</td>
      <td>{{ row.team_matches_played }}</td>
      <td>{{ row.team_wins }}</td>
      <td>{{ row.team_losses }}</td>
      <td>{{ row.team_total_points }}</td>
      <td>{{ row.team_points_scored }}</td>
      <td>{{ row.team_points_conceded }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>